* ::backdrop,
*::after {
  box-sizing: border-box;
}

.home {
  width: 100%;
  height: 100%;
}
.category-name {
  font-size: 30px;
  margin: 0 0 0 3rem;
}
.home__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 5rem 0 5rem;
}
.home__title {
  margin-top: 3rem;
}
@media (max-width: 428px) {
  .category-name {
    font-size: 20px;
    margin-left: 1rem;
  }
  .home__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .home__title {
    margin-top: 2rem;
  }
}
