.prods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px;
  padding-top: 3rem;
  padding-bottom: 6rem;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}

.category-nr {
  padding-top: 30px;
}

@media (max-width: 428px) {
  .prods {
    border-bottom: 1px;
    padding: 1rem;
    flex-wrap: wrap;
  }
}
