* {
  margin: 0;
  padding: 0;
}

body {
  font: 400 1.4rem/1.6 'Helvetica Neue', sans-serif !important; /* 1.6rem = 16px */
  background: var(--lightblue) !important;
  color: var(--mainDark) !important;
  display: block;
  position: relative;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
