@font-face {
  font-family: 'Helevetica Neue';
  src: url(./assets/fonts/Helvetica-Neue.ttf);
}
@font-face {
  font-family: 'La Belle Aurore';
  src: url(./assets/fonts/LaBelleAurore.woff2) format('woff2');
}
@font-face {
  font-family: 'Coolvetica';
  src: url(./assets/fonts/CoolveticaRg-Regular.woff2) format('woff2'),
    url(./assets/fonts/CoolveticaRg-Regular.woff) format('woff');
}

/* VARIABLES ======================================== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom:  1.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
 
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  h2 {
    font-size:  1.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  h6 {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}
